{% extends 'listor/mall.html' %}

{% block innehall %}
<div class="container py-5">
  <h2>Radera varor</h2>
  <p>Är du säker att du vill radera följande varor?</p>
  <ul>
    {% for item in items %}
      <li>{{ item.item_name }}</li>
    {% empty %}
      <li>Inga markerade varor.</li>
    {% endfor %}
  </ul>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="list_pk" value="{{ lista.listID }}">
    <button class="btn btn-primary" type="submit">Radera</button>
    <a class="btn btn-primary" href="{% url 'lista-sida' lista.listID %}">Ångra</a>
  </form>
</div>
{% endblock innehall %}